# Java / Maven / Gradle
target/
*.class
*.jar
*.war
*.iml
.idea/
.mvn/
.gradle/
out/

# NodeJS
node_modules/
dist/
.env

# Python
__pycache__/
*.pyc
.venv/

# OS
.DS_Store
Thumbs.db
pom.xml.versionsBackup
frontend/.env*
